* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  height: 60px;
  background-color: rgb(48, 89, 140);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.icon img {
  height: 60px;
}
.navbar {
  display: flex;
  width: 60%;
  color: white;
  justify-content: space-around;
}
.nav--items {
  color: aliceblue;
  text-decoration: none;
  text-transform: uppercase;
  gap: 20px;
}
.nav--items:hover {
  color: black;
  font-size: 18px;
}
.ti-github {
  padding-right: 20px;
}
main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.content {
  display: flex;
  width: 60%;
  flex-direction: column;
  padding: 30px;
}
.sile {
  width: 30%;
  display: flex;
}
